<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
        label {
            display: flex;
        }
        input {
            width: 100%;
        }
    </style>
</head>
<body>
<main>
    <!-- Account holder info -->
    <h2 th:inline="text">Account IBAN: [[${accountsiban}]]</h2>
    <p th:inline="text">Owner: [[${bankAccount.user.username}]]</p>
    <p th:inline="text" id="balance-text">Account balance: [[${bankAccount.balance}]]€</p>
        <form th:action="@{/logout}" method="POST">
            <button type="submit">LOGOUT</button>
        </form>
    <!-- Overview -->
<div class="row">
    <div class="col-1">
    </div>
    <!-- Money transfer -->
    <div class="col-2">
    <div class="form-group">
        <h3 class="title">Transfer money</h3>
        <p class="form-error main" th:if="${(param.transferFail != null) and (param.transferFail[0] == 'true')}">Transfer failed</p>
        <form th:action="@{/transfermoney}" th:method="POST">
            <div>
                <label for="to">Transfer to</label>
                <input  type="text" name="receiversIban" required />
            </div>
            <input type="hidden" name="sendersIban" th:value="${accountsiban}" />
            <div>
            <label for="amount">Amount</label>
            <input type="number" name="amount" min=".01" step=".01" required />
            <p class="form-error" th:if="${transferFailAmount != null}" th:text="${transferFailAmount}"></p>
        </div>
            <div>
                <label for="tan">TAN</label>
                <input type="text" name="tan" required />
            </div>
            <div>
                <label for="message">Reason for payment</label>
                <input type="text" name="message" required />
            </div>
            <button type="submit">Submit</button>
        </form>
</div>
    </div>
    <div class="col-6">
    <!-- Transaction history -->
    <h3 class="title">Transaction history</h3>
    <div class="w3-container">
        <p th:if="${bankAccount.transactionHistory.size()} == 0">No transaction were found :/</p>
        <ul id="users-list" class="w3-ul w3-hoverable">
            <li th:each="transaction : ${transactionHistory}">
                <p class="user-title" th:inline="text">Transaction ID: [[${transaction.id}]], Amount:  [[${transaction.amount}]], Currency:  [[${transaction.amount}]], Status :  [[${transaction.status}]] </p>
                <p class="user-title" th:inline="text">Time: [[${transaction.timeStamp}]]</p>
                <p class="user-title" th:inline="text">From: [[${transaction.from.id}]]</p>
                <p th:if="${transaction.to} != null" class="user-title" th:inline="text"> To: [[${transaction.to.id}]]</p>
            </li>
        </ul>
    </div>
    </div>
</div>
</main>
</body>
</html>