<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Directory</title>
    <style>
    </style>
</head>
<body>
<header class="header">
    <h1>Manager's panel</h1>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="row setting_id">
                <h4>SETTINGS</h4>
            </div>
            <div class="list-group">
                <a href="/dashboard/update/user" class="list-group-item list-group-item-action">Update user's information</a>
                <a href="/dashboard/create/account" class="list-group-item list-group-item-action">Create account</a>
                <a href="/dashboard/delete/account" class="list-group-item list-group-item-action">Delete account</a>
                <a href="/dashboard/delete/user" class="list-group-item list-group-item-action">Delete user</a>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="ctitle">Create a new bank account</h3>
        <p class="form-error main" th:if="${(param.bankAccountCreateFail != null) and (param.bankAccountCreateFail[0] == 'true')}">Bank acount
            creation did not succeed.</p>
        <form th:action="@{/dashboard/create/account}" th:method="POST">
            <div>
                <label for="iban">IBAN</label>
                <input type="text" name="iban" required />
                <p class="form-error" th:if="${bankAccountCreateFailIban != null}" th:text="${bankAccountCreateFailIban}"></p>
            </div>
            <div>
                <label for="balance">Balance</label>
                <input type="number" name="balance" min="0" step=".01" required />
            </div>
            <input type="text" name="ownerUsername"/>
            <button type="submit">Submit</button>
        </form>
    </div>


</div>
</body>
</html>