<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update user</title>
    <style>
    </style>
</head>
<body>
<header class="header">
    <h1>Manager's panel</h1>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="row setting_id">
                <h4>Update user</h4>
            </div>
        </div>
    </div>

</div>
</body>
</html>